@import "_vars.sass"

.popup
	@extend %fullScreenSize
	visibility: hidden
	opacity: 0
	z-index: $ind_L
	background-color: transparent
	transition: background-color .5s ,opacity .5s
	.popup-content
		position: relative
		width: 100%
		max-width: 500px
		min-width: 320px
		min-height: 250px
		margin-top: 150px
		padding: 24px
		border-radius: 2px
		box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12)
		background-color: $bcgSecondary
		transition: margin .5s

.popup.active
	opacity: 1
	visibility: visible
	background-color: rgba(0,0,0,.688)
	.popup-content
		margin-top: 0px

.popup-content .fade-out
	position: absolute
	top: -35px
	right: -35px
	width: 40px
	z-index: $ind_S
	line-height: 40px
	border-radius: 50%
	text-align: center
	cursor: pointer
	color: $textPrimary
	background-color: $red
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12)
	transition: background-color 0.3s
	&:hover
		background-color: $darkRed

#popup-error-msg
	.popup-title
		position: relative
		padding-bottom: 30px
		color: $red
		i
			padding: 10px
			font-size: 50px
		&:after
			@extend %extend_before
			bottom: 14px
			left: 50%
			transform: translateX(-50%)
			width: 20%
			height: 1px
			background-color: $greyLight
	.error-msg
		padding-bottom: 60px
	.btn-main
		position: absolute
		bottom: 0
		left: 0
		height: 50px
		line-height: 50px
		display: flex
		justify-content: center
		i
			line-height: 50px
			font-size: 30px
		span
			font-size: 16px